@font-face {
  font-family: 'Merriweather';
  src: url('./assets/fonts/Merriweather-Bold.ttf');
}

@font-face {
  font-family: 'RobotoBold';
  src: url('./assets/fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'RobotoMedium';
  src: url('./assets/fonts/Roboto-Medium.ttf');
}

svg path,
svg line,
svg circle {
  stroke: var(--stroke-primary);
}

body {
  background-color: var(--background-primary);
  margin-bottom: 150px;
}

.App {
  width: 83.3%;
  margin-left: 8.3%;
  margin-right: 8.3%;
}

.myRef {
  position: relative;
  top: -130px;
}

p {
  color: var(--color-primary);
}

.header_li {
  color: var(--colorSecond-primary);
  font-family: 'Merriweather', sans-serif;
  cursor: pointer;
  font-size: 16px;
}

.header_li.active {
  color: var(--color-primary);
}

.description_paragraph {
  color: var(--color-primary);
}

h2 {
  font-size: 25px;
}

h2,
.project_item-list,
.progect_description {
  color: var(--color-primary);
  font-family: 'RobotoBold', sans-serif;
}


.my_section {
  margin-top: 150px;
}

/* MyInfo */
.myinfo h2,
.myinfo p {
  font-family: 'Merriweather', sans-serif;
}

.myinfo p {
  font-family: 'RobotoBold', sans-serif;
  color: var(--colorSecond-primary);
}

@media (max-width: 762px) {
  .App {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}