.social-icons-1 {
    padding: 0;
    list-style: none;
    margin-top: 50px;
}
.social-icons-1 li {
    display: inline-block;
    position: relative;
    font-size: 24px;
    margin-left: 20px;
    &:first-child{
        margin-left: 0;
    }
}
.social-icons-1 i,
.social-icons-1 img {
    color: #fff;
    position: absolute;
    top: 8px;
    left: 8px;
    width: 24px;
    height: 24px;
    text-align:center;
    transition: all 0.3s ease-out;
}
.social-icons-1 a {
    display: inline-block;
}
.social-icons-1 a:before {
    transform: scale(1);
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: block;
    background-color:#9D9D9D;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 2px 4px rgba(0,0,0,0.2);
    transition: all 0.3s ease-out;
}
.social-icons-1 a:hover:before {
    transform: scale(0);
    transition: all 0.3s ease-in;
}
.social-icons-1 a:hover i,
.social-icons-1 a:hover img {
    filter: invert(1);
    transform: scale(1.8);
    color: #337AB7;
    transition: all 0.3s ease-in;
}